 .main {
   text-align: center;
   border: 1px solid #1ab6be75;
   padding: 1rem;
   margin: 1rem auto;
   width: 90rem;
   height: 35rem;
   max-width: 97%;
   overflow-y: auto;
 }

 .nav {
   padding: 1rem;
   margin: 1rem auto;
   width: 90rem;
   max-width: 97%;
 }

 .button {
   background-color: transparent;
   border: 1px solid #1ab6be75;
   margin: 0 auto;
   display: block;
   width: var(--button-width);
   height: 37px;
   font-family: "Monaco", monospace;
 }

 .button:hover {
   background-color: #1ab6be75;
   border: 0px solid;
   color: white;
 }

 .tasks-container {
   width: 400px;
   max-width: 100%;
   margin: 0 25px 25px 0;
   display: inline-block;
   vertical-align: top;
 }

 .task-list {
   border: solid 1px #ccc;
   min-height: 60px;
   background: white;
   border-radius: 4px;
   overflow: hidden;
   display: block;
 }

 .task-box {
   padding: 20px 10px;
   border-bottom: solid 1px #ccc;
   color: rgba(0, 0, 0, 0.87);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   cursor: move;
   background: white;
   font-size: 14px;
 }

 .cdk-drag-preview {
   box-sizing: border-box;
   border-radius: 4px;
   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
     0 8px 10px 1px rgba(0, 0, 0, 0.14),
     0 3px 14px 2px rgba(0, 0, 0, 0.12);
 }

 .cdk-drag-placeholder {
   opacity: 0;
 }

 .cdk-drag-animating {
   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
 }

 .example-box:last-child {
   border: none;
 }

 .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
 }